@model HappyTrip.Models.HotelRoom

@{
    ViewBag.Title = "Edit";
}

<h2>Update Hotel Room</h2>

@using (Html.BeginForm("EditHotelRoom", "Hotel", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

    
    @Html.HiddenFor(model => model.HotelRoomId)
            
         <div class="editor-label">
             @Html.HiddenFor(model => model.TypeId)
            @Html.LabelFor(model => model.TypeId, "RoomType")
        </div>
        <div class="editor-field">
            @*@Html.DropDownList("TypeId", "........Select Room Type........")*@
            @Html.DisplayFor(model => model.RoomType.Title)
            @Html.ValidationMessageFor(model => model.TypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HotelId, "Hotel")
        </div>
        <div class="editor-field">
            @*@Html.DropDownList("HotelId",".........Select Hotel..........")*@
            @Html.HiddenFor(model => model.HotelId)
            @Html.DisplayFor(model => model.Hotel.HotelName)
            @Html.ValidationMessageFor(model => model.HotelId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CostPerDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CostPerDay)
            @Html.ValidationMessageFor(model => model.CostPerDay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoOfRooms)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoOfRooms)
            @Html.ValidationMessageFor(model => model.NoOfRooms)
        </div>
        <div>
            @Html.LabelFor(model => model.Photo)
        </div>
        <div id="one" class="image">
                    @Html.Raw("<img width=\"150\" height=\"150\" src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Photo) +  "\"/>")
                    <a class="hide">
                        @*<input type="file" value="@Html.Raw("<img width=\"150\" height=\"150\" src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Photo) +  "\"/>")" name="file" />*@
                        @Html.HiddenFor(model => model.Photo)
                    </a>
                </div>
            <div>
                <input type="button" name="" value="ChangeImage" onclick="OnChange()" class="button" />
            </div>
            <div id="two" class="show">
                  <input type="file" name="file" />
            </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "GetListOfHotelRooms")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
