@model HappyTrip.Models.Schedule

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Schedule</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FlightID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FlightID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RouteId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RouteId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DepartureTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DepartureTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArrivalTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArrivalTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DurationInMins)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DurationInMins)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
