@model IEnumerable<HappyTrip.Models.Booking>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCancelled)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCancelled)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingID })
        </td>
    </tr>
}

</table>
