@model HappyTrip.Models.Airline

@{
    ViewBag.Title = "Delete";
}
<fieldset>
    <legend>Are you sure you want to delete this Airline?</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AirlineName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AirlineName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Logo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Logo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="button-secondary"/> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
